*{
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 0;
}

body{
	font-family: sans-serif;
	width:auto;
	height: 768px;
	margin:0 auto;
	padding: 0;
	
}

#wrapper{
	width:auto;
	height: auto;
	margin:0 auto;
	background-color: rgba(198, 188, 188, 0.29);
}

#navT{
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: #19cba3;
	
}

#navT header h1{
	float:left;
	font-size: 2.5em;
	margin-left: 100px;
}
#navT header h1 a{
	text-decoration: none;
	color: white;

}
#navT nav ul{
	float: right;
	margin-right: 20px;
}
#navT nav ul li{
	display: inline-block;
	list-style: none;
	
}
#navT nav ul li a{
	text-decoration: none;
	color:#8d8686;
	padding-left:35px;
	padding-top: 20px;
}
/*#navT nav ul li:hover{
	background: #88ead4;
	transition: all ease-in-out 0.45

}
#active{
	background: #88ead4;
	padding-right: 20px;}
	}
*/
 #main-content article{
	display: flex;
	flex-flow: column;
	min-width: 200px;
	max-width:620px;
	width: 100%;

	/*height: 768px;
	background: rgba(198, 188, 188, 0.29);
	clear:both;
	margin:0 auto;
	border-top: 0px;
	padding: 0px;*/

}


#leftSide {
	float:left;
	
	width: 10%;
	min-width: 75px;
	height: 188px;
	margin-left: 0px;
	
}
article{
	
	border:1px solid #ebebeb;
	
	height: auto;
	margin-left: 3%;
	margin-right: 10px;
	margin-top: 15px;
	border:0;
	background-color: white;
	padding-left:0px;
	padding-top: 12px;
	padding-right: 45px;
	padding-bottom: 0px
	line-height: 1.5em;
	
	position: relative;

}

#connect-With-Me{
	
	 float:right;
	 position: absolute;
	 	top: 74px;
		 right: -200px;
		 left: 130px;
	
  	background-color: white;
  	width: 245px;
  	height: 145px;
  	margin-left: 600px;
  	margin-right: 145px;
  	/*border-style: solid;*/
  	border-width: 15px 20px 15px 20px;
  	border-color: #848080;
  	padding: 20px 10px;
 
  	color:#777;
  	display: inline-block;
  	
  	
}

aside #connect-With-Me{
	display: flex;
	flex-flow: column;
	min-width:15%;
	max-width: 22%;
}

#link-Images img{
	
	width: 50px;
	height: 50px;
	float:left;
	/*position: absolute;
		top:-25;
		left: 5;
		right:10px;
*/
	margin-left: 25px;
	padding-right: 10px;
	padding-bottom: 0px;

}
#picture{
	width: 100px;
	height: 100px;
	position: relative;
	top:0;
	float:left;
	top:-10px;
	left: 0px;
	display:block;
	padding: 5px;

}


footer{
	/*width: 1024px;
	height: 75px;*/
		/*code to shrink and expand */
	width:auto;
	height: 80px;
	margin:0 auto;
	background-color: #757171;
	color:white;
	text-align: center;
	border-top: #19cba3 5px solid;

}